.advanced-filters {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.35s ease, opacity 0.45s ease;
}

.advanced-filters.expanded {
    max-height: 1000px;
    opacity: 1;
}

.no-arrow {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;
}