.calendar {
    width: 350px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    cursor: pointer;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.rented{
    background-color: red;
    cursor: not-allowed;
}

.selected-day{
    background-color: green !important;
}

.available-day{
    background-color: yellow;
}

.unavailable-day
{
    background-color: red;
    cursor: not-allowed;
}

.past-day{
    background-color: grey;
}