
input.form-control:focus, select.form-select:focus {
  border-color: #bfa130 !important;
  box-shadow: none;
}
.disabledButton {
  display: none !important;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08) !important;
}